<div class="erp-form bg-success">
    <div class="erp-form-info">
        <h3>{{ totalProfits }} MAD</h3>
        <p>Total Profits</p>
    </div>
    <div class="erp-form-redirect text-secondary">
        <a routerLink="addErp" class="text-secondary">More Info</a>
    </div>
</div>
<div class="erp-form bg-info">
    <div class="erp-form-info">
        <h3>{{ totalMoney }} MAD</h3>
        <p>Total Money</p>
    </div>
    <div class="erp-form-redirect text-secondary">
        <a routerLink="addErp" class="text-secondary">More Info</a>
    </div>
</div>